Repository cuu/YAHAL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: msp432_examples, rp2040_examples

msp432_examples:
  before_script:
  - cd examples/$EXAMLE_FOLDER
  - mkdir build && cd build
  script:
  - cmake ..
  - make -j 4
  tags:
  - shared
  variables:
    EXAMLE_FOLDER: msp432-launchpad

rp2040_examples:
  before_script:
  - cd examples/$EXAMLE_FOLDER
  - mkdir build && cd build
  script:
  - cmake ..
  - make -j 4
  tags:
  - shared
  variables:
    EXAMLE_FOLDER: rp2040-launchpad

New tool to convert MP3 to PCM raw binary or C/C++ struct.
  tools/mp3pcm2cpp/CMakeLists.txt
  tools/mp3pcm2cpp/mp3pcm2cpp.cpp
Due: msp432_examples, rp2040_examples

Smaller fixes for new MP3 tool (output dir option)
  tools/mp3pcm2cpp/CMakeLists.txt
  tools/mp3pcm2cpp/mp3pcm2cpp.cpp
Due: msp432_examples, rp2040_examples

Small demo for sound generation based on generated PCM samples.
  cmake/packages/FindMP3PCM2CPP.cmake
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/.gitignore
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/CMakeLists.txt
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/YAHAL_import.cmake
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/gen/.gitignore
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3/surprise.mp3
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3_pcm_sample.cpp
  tools/CMakeLists.txt
  tools/mp3pcm2cpp/mp3pcm2cpp.cpp
Due: msp432_examples, rp2040_examples

New example for playing a MP3 file from RP2040 flash using the 3.5mm audio adapter.
  examples/rp2040-launchpad/audio_adapter/mp3_song/.gitignore
  examples/rp2040-launchpad/audio_adapter/mp3_song/CMakeLists.txt
  examples/rp2040-launchpad/audio_adapter/mp3_song/YAHAL_import.cmake
  examples/rp2040-launchpad/audio_adapter/mp3_song/gen/.gitignore
  examples/rp2040-launchpad/audio_adapter/mp3_song/mp3/song.mp3
  examples/rp2040-launchpad/audio_adapter/mp3_song/mp3_decoder_task.cpp
  examples/rp2040-launchpad/audio_adapter/mp3_song/mp3_decoder_task.h
  examples/rp2040-launchpad/audio_adapter/mp3_song/mp3_song.cpp
Due: rp2040_examples

Fixed binary read in new mp3 to PCM tool.
  tools/mp3pcm2cpp/mp3pcm2cpp.cpp
Due: msp432_examples, rp2040_examples

Extended the MP3 PCM sample example a litte bit.
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/CMakeLists.txt
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3/hat1.mp3
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3/hat2.mp3
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3/kick.mp3
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3/snare.mp3
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3_pcm_sample.cpp
  tools/CMakeLists.txt
Due: msp432_examples, rp2040_examples

Clean up (forgot to delete a file)
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3/surprise.mp3
Due: rp2040_examples

New stepper motor example for RP2040
  examples/rp2040-launchpad/stepper_motor/.gitignore
  examples/rp2040-launchpad/stepper_motor/CMakeLists.txt
  examples/rp2040-launchpad/stepper_motor/YAHAL_import.cmake
  examples/rp2040-launchpad/stepper_motor/stepper_motor.cpp
Due: rp2040_examples

New song for RP2040 edu example mp3_song
  examples/rp2040-launchpad/boostxl_edumkII/mp3_song/mp3/song.mp3
  examples/rp2040-launchpad/boostxl_edumkII/mp3_song/mp3_decoder_task.cpp
Due: rp2040_examples

Fixed bug in comment. Minor change ...
  examples/rp2040-launchpad/audio_adapter/mp3_pcm_sample/mp3_pcm_sample.cpp
Due: rp2040_examples

Fixed a problem when comparing a YAHAL String with a string literal.
  examples/rp2040-launchpad/boostxl_edumkII/hardware_test/hardware_test.cpp
  src/util/yahal_String.h
Due: msp432_examples, rp2040_examples

Fixed MSP432 HW Test example because of last commit...
  examples/msp432-launchpad/boostxl_edumkII_hw_test/boostxl_edumkII_hw_test.cpp
Due: msp432_examples

Some fixes in the RP2040 timer class. The wrong value was reported in getCounter. Also start/stop operations were not working as expected.
  src/MCU/rp2040/timer_rp2040.cpp
  src/MCU/rp2040/timer_rp2040.h
Due: msp432_examples, rp2040_examples

More fixes to RP2040 timer driver.
  src/MCU/rp2040/timer_rp2040.cpp
Due: msp432_examples, rp2040_examples

Updated to tinyUSB++ library.
  lib/tinyUSB++/CMakeLists.txt
  lib/tinyUSB++/class/cdc/usb_cdc_acm_device.cpp
  lib/tinyUSB++/class/cdc/usb_cdc_acm_device.h
  lib/tinyUSB++/class/cdc/usb_cdc_common.h
  lib/tinyUSB++/class/cdc/usb_cdc_defines.h
  lib/tinyUSB++/class/cdc/usb_fd_acm.cpp
  lib/tinyUSB++/class/cdc/usb_fd_acm.h
  lib/tinyUSB++/class/cdc/usb_fd_base.h
  lib/tinyUSB++/class/cdc/usb_fd_call_mgmt.cpp
  lib/tinyUSB++/class/cdc/usb_fd_call_mgmt.h
  lib/tinyUSB++/class/cdc/usb_fd_header.cpp
  lib/tinyUSB++/class/cdc/usb_fd_header.h
  lib/tinyUSB++/class/cdc/usb_fd_union.cpp
  lib/tinyUSB++/class/cdc/usb_fd_union.h
  lib/tinyUSB++/class/msc/scsi_common.h
  lib/tinyUSB++/class/msc/usb_msc_bot_device.cpp
  lib/tinyUSB++/class/msc/usb_msc_bot_device.h
  lib/tinyUSB++/class/msc/usb_msc_common.h
  lib/tinyUSB++/class/msc/usb_msc_defines.h
  lib/tinyUSB++/drivers/CMakeLists.txt
  lib/tinyUSB++/drivers/rp2040-sdk/CMakeLists.txt
  lib/tinyUSB++/drivers/rp2040-sdk/usb_dcd_rp2040.cpp
  lib/tinyUSB++/drivers/rp2040-sdk/usb_dcd_rp2040.h
  lib/tinyUSB++/drivers/rp2040-sdk/usb_endpoint_rp2040.cpp
  lib/tinyUSB++/drivers/rp2040-sdk/usb_endpoint_rp2040.h
  lib/tinyUSB++/src/CMakeLists.txt
  lib/tinyUSB++/src/usb_bos_dev_cap.h
  lib/tinyUSB++/src/usb_config.h
  lib/tinyUSB++/src/usb_device.cpp
  lib/tinyUSB++/src/usb_device_controller.cpp
  lib/tinyUSB++/src/usb_fifo.h
  lib/tinyUSB++/src/usb_interface.cpp
  lib/tinyUSB++/src/usb_interface.h
  lib/tinyUSB++/src/usb_interface_association.cpp
  lib/tinyUSB++/src/usb_interface_association.h
  lib/tinyUSB++/src/usb_log.cpp
  lib/tinyUSB++/src/usb_log.h
  lib/tinyUSB++/src/usb_ms/usb_ms_registry_property.cpp
  lib/tinyUSB++/src/usb_strings.cpp
  lib/tinyUSB++/src/usb_strings.h
Due: msp432_examples, rp2040_examples

Updates to two examples due to last commit..
  examples/rp2040-launchpad/WifiTick-Programmer/WifiTick-Programmer.cpp
  examples/rp2040-launchpad/usb_dev_lowlevel/main.cpp
Due: rp2040_examples

More work on tinyUSB++: New class for MS-compatible descriptor.
  lib/tinyUSB++/class/cdc/usb_cdc_acm_device.cpp
  lib/tinyUSB++/class/cdc/usb_cdc_acm_device.h
  lib/tinyUSB++/class/cdc/usb_cdc_defines.h
  lib/tinyUSB++/class/cdc/usb_fd_base.h
  lib/tinyUSB++/class/cdc/usb_fd_call_mgmt.h
  lib/tinyUSB++/class/cdc/usb_fd_header.h
  lib/tinyUSB++/class/cdc/usb_fd_union.h
  lib/tinyUSB++/class/msc/scsi_common.h
  lib/tinyUSB++/class/msc/usb_msc_bot_device.cpp
  lib/tinyUSB++/class/msc/usb_msc_common.h
  lib/tinyUSB++/class/msc/usb_msc_defines.h
  lib/tinyUSB++/src/CMakeLists.txt
  lib/tinyUSB++/src/usb_bos.h
  lib/tinyUSB++/src/usb_bos_dev_cap.h
  lib/tinyUSB++/src/usb_common.h
  lib/tinyUSB++/src/usb_config.h
  lib/tinyUSB++/src/usb_configuration.h
  lib/tinyUSB++/src/usb_dcd_interface.h
  lib/tinyUSB++/src/usb_device.h
  lib/tinyUSB++/src/usb_device_controller.h
  lib/tinyUSB++/src/usb_endpoint.h
  lib/tinyUSB++/src/usb_fifo.h
  lib/tinyUSB++/src/usb_interface.h
  lib/tinyUSB++/src/usb_interface_association.h
  lib/tinyUSB++/src/usb_log.h
  lib/tinyUSB++/src/usb_ms/CMakeLists.txt
  lib/tinyUSB++/src/usb_ms/usb_bos_dev_cap_platform_ms.h
  lib/tinyUSB++/src/usb_ms/usb_bos_dev_cap_webusb_ms.h
  lib/tinyUSB++/src/usb_ms/usb_ms_common.h
  lib/tinyUSB++/src/usb_ms/usb_ms_compatible_ID.h
  lib/tinyUSB++/src/usb_ms/usb_ms_config_subset.h
  lib/tinyUSB++/src/usb_ms/usb_ms_func_subset.h
  lib/tinyUSB++/src/usb_ms/usb_ms_header.h
  lib/tinyUSB++/src/usb_ms/usb_ms_registry_property.cpp
  lib/tinyUSB++/src/usb_ms/usb_ms_registry_property.h
  lib/tinyUSB++/src/usb_ms/usb_ms_webusb_descriptor.cpp
  lib/tinyUSB++/src/usb_ms/usb_ms_webusb_descriptor.h
  lib/tinyUSB++/src/usb_strings.h
Due: msp432_examples, rp2040_examples

Added simple example for CDC ACM functionality for pico SDK.
  lib/tinyUSB++/examples/cdc_acm_dev_simple/CMakeLists.txt
  lib/tinyUSB++/examples/cdc_acm_dev_simple/cdc_acm_dev_simple.cpp
  lib/tinyUSB++/examples/cdc_acm_dev_simple/pico_sdk_import.cmake
  lib/tinyUSB++/examples/cdc_acm_dev_simple/tinyUSB++
Due: msp432_examples, rp2040_examples

Fixed WifiTick Programmer with new MS descriptor class/file name.
  examples/rp2040-launchpad/WifiTick-Programmer/WifiTick-Programmer.cpp
Due: rp2040_examples

More cleanup, removed symbolic links in examples.
  lib/tinyUSB++/drivers/rp2040-YAHAL/usb_dcd_rp2040.cpp
  lib/tinyUSB++/drivers/rp2040-YAHAL/usb_dcd_rp2040.h
  lib/tinyUSB++/drivers/rp2040-YAHAL/usb_endpoint_rp2040.cpp
  lib/tinyUSB++/drivers/rp2040-YAHAL/usb_endpoint_rp2040.h
  lib/tinyUSB++/drivers/rp2040-sdk/usb_dcd_rp2040.h
  lib/tinyUSB++/drivers/rp2040-sdk/usb_endpoint_rp2040.cpp
  lib/tinyUSB++/drivers/rp2040-sdk/usb_endpoint_rp2040.h
  lib/tinyUSB++/examples/cdc_acm_dev_pdp8/CMakeLists.txt
  lib/tinyUSB++/examples/cdc_acm_dev_pdp8/cdc_acm_dev_pdp8.cpp
  lib/tinyUSB++/examples/cdc_acm_dev_pdp8/tinyUSB++
  lib/tinyUSB++/examples/cdc_acm_dev_simple/CMakeLists.txt
  lib/tinyUSB++/examples/cdc_acm_dev_simple/tinyUSB++
Due: msp432_examples, rp2040_examples

Updated USB MSC example.
  examples/rp2040-launchpad/usb_dev_lowlevel/CMakeLists.txt
  examples/rp2040-launchpad/usb_dev_lowlevel/dev_lowlevel.cpp
  examples/rp2040-launchpad/usb_dev_lowlevel/dev_lowlevel.h
  examples/rp2040-launchpad/usb_dev_lowlevel/main.cpp
Due: rp2040_examples

New example for using the SD card as a USB Mass Storage Device.
  examples/rp2040-launchpad/usb_msc_sd_card/.gitignore
  examples/rp2040-launchpad/usb_msc_sd_card/CMakeLists.txt
  examples/rp2040-launchpad/usb_msc_sd_card/YAHAL_import.cmake
  examples/rp2040-launchpad/usb_msc_sd_card/usb_msc_sd_card.cpp
Due: rp2040_examples

More work on tinyUSB++. Added REQUEST_SENSE to SCSI commands.
  lib/tinyUSB++/class/cdc/usb_cdc_acm_device.cpp
  lib/tinyUSB++/class/cdc/usb_cdc_acm_device.h
  lib/tinyUSB++/class/msc/scsi_structs.h
  lib/tinyUSB++/class/msc/usb_msc_bot_device.cpp
  lib/tinyUSB++/class/msc/usb_msc_bot_device.h
  lib/tinyUSB++/class/msc/usb_msc_structs.h
  lib/tinyUSB++/drivers/rp2040-YAHAL/usb_dcd_rp2040.cpp
  lib/tinyUSB++/examples/cdc_acm_dev_pdp8/src/Device_TTO.cpp
  lib/tinyUSB++/examples/cdc_acm_dev_simple/cdc_acm_dev_simple.cpp
  lib/tinyUSB++/src/usb_device_controller.cpp
Due: msp432_examples, rp2040_examples

Adapted USB examples to latest changes.
  examples/rp2040-launchpad/usb_dev_lowlevel/main.cpp
  examples/rp2040-launchpad/usb_msc_sd_card/usb_msc_sd_card.cpp
  include/interface/led_interface.h
  lib/tinyUSB++/class/msc/usb_msc_bot_device.cpp
  lib/tinyUSB++/class/msc/usb_msc_bot_device.h
  lib/tinyUSB++/examples/msc_ram_drive/CMakeLists.txt
  lib/tinyUSB++/examples/msc_ram_drive/image.cpp
  lib/tinyUSB++/examples/msc_ram_drive/image.h
  lib/tinyUSB++/examples/msc_ram_drive/msc_ram_drive.cpp
  lib/tinyUSB++/examples/msc_ram_drive/pico_sdk_import.cmake
  src/MCU/rp2040/ws2812_rp2040.cpp
  src/MCU/rp2040/ws2812_rp2040.h
Due: msp432_examples, rp2040_examples

Updated tinyUSB++ MSC RAM disk example with LED indicator.
  lib/tinyUSB++/examples/msc_ram_drive/CMakeLists.txt
  lib/tinyUSB++/examples/msc_ram_drive/msc_ram_drive.cpp
Due: msp432_examples, rp2040_examples

Renamed MS device capability classes.
  lib/tinyUSB++/src/usb_ms/usb_ms_compat_descriptor.h
  lib/tinyUSB++/src/usb_ms/usb_ms_config_subset.cpp
  lib/tinyUSB++/src/usb_ms/usb_ms_dev_cap_platform.h
  lib/tinyUSB++/src/usb_ms/usb_ms_dev_cap_webusb.h
  lib/tinyUSB++/src/usb_ms/usb_ms_header.cpp
  lib/tinyUSB++/src/usb_ms/usb_ms_header.h
Due: msp432_examples, rp2040_examples

Fixed USB example for CI pipeline..
  examples/rp2040-launchpad/usb_dev_lowlevel/main.cpp
Due: rp2040_examples

Added method on PCM driver to reset timer.
  src/MCU/rp2040/pcm_pwm_rp2040_drv.cpp
  src/MCU/rp2040/pcm_pwm_rp2040_drv.h
Due: msp432_examples, rp2040_examples

Added board definitions for Raspberry Pi Pico (YAHAL board name is rpi-pico).
  cmake/boards/rpi-pico.cmake
  cmake/boards/rpi-pico.ld
  src/boards/rpi-pico/CMakeLists.txt
Due: msp432_examples, rp2040_examples

Increased RP2040 XOSC startup delay to 64ms.
  src/MCU/rp2040/system_rp2040.cpp
Due: msp432_examples, rp2040_examples

Fixed a parameter type in the gpio interface header
  include/interface/gpio_interface.h
Due: msp432_examples, rp2040_examples

Erster Versuch GitLab Pages mit Doxygen
  .gitlab-ci.yml
  README.md
  doc/.gitignore
  doc/Doxyfile
Due: msp432_examples, rp2040_examples

Zweiter Versuch GitLab Pages mit Doxygen
  .gitlab-ci.yml
Due: msp432_examples, rp2040_examples

Dritter Versuch GitLab Pages mit Doxygen
  .gitlab-ci.yml
Due: msp432_examples, rp2040_examples

Vierter Versuch GitLab Pages mit Doxygen
  .gitlab-ci.yml
  doc/Doxyfile
Due: msp432_examples, rp2040_examples

Inkludiere Assembler Dateien in Pages Doku
  doc/Doxyfile
Due: none

Basic getting started manual without images (TODO)
  README.md
Due: none

Finishing touches (still without images)
  README.md
Due: none

Path conditions:
  msp432_examples: any of: .gitlab-ci.yml, cmake/**/*, include/**/*, lib/**/*, src/**/*, tools/**/*, examples/msp432-launchpad/**/*
  rp2040_examples: any of: .gitlab-ci.yml, cmake/**/*, include/**/*, lib/**/*, src/**/*, tools/**/*, examples/rp2040-launchpad/**/*
