Repository cuu/YAHAL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: msp432_examples, rp2040_examples, pages

.gitlab-ci.yml:

image: registry.git.fh-aachen.de/docker-images/gcc-arm-none-eabi-image

stages:
  - examples
  - pages

.common:
  stage: examples
  before_script:
    - cd examples/$EXAMLE_FOLDER
    - mkdir build && cd build
  script:
    - cmake ..
    - make -j 4
  tags:
    - shared

msp432_examples:
  extends: .common
  variables:
    EXAMLE_FOLDER: "msp432-launchpad"
  only:
    changes:
      - .gitlab-ci.yml
      - cmake/**/*
      - include/**/*
      - lib/**/*
      - src/**/*
      - tools/**/*
      - examples/msp432-launchpad/**/*

rp2040_examples:
  extends: .common
  variables:
    EXAMLE_FOLDER: "rp2040-launchpad"
  only:
    changes:
      - .gitlab-ci.yml
      - cmake/**/*
      - include/**/*
      - lib/**/*
      - src/**/*
      - tools/**/*
      - examples/rp2040-launchpad/**/*

pages:
  image: alpine:3.19.1
  stage: examples
  needs: []
  script:
    - apk --no-cache add doxygen graphviz ttf-freefont
    - cd doc && doxygen Doxyfile
    - mv doc/documentation/html/ public/
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - README.md
      - doc/**/*
      - include/**/*
      - lib/**/*
      - src/**/*
  tags:
    - shared

Fixed RP2040 example.
  examples/rp2040-launchpad/boostxl_edumkII/uGUI_bitmap/uGUI_bitmap.cpp
Due: rp2040_examples

Fixed RP2040 example.
  examples/rp2040-launchpad/usb_dev_lowlevel/main.cpp
Due: rp2040_examples

Fixed another RP2040 example.
  examples/rp2040-launchpad/usb_msc_sd_card/usb_msc_sd_card.cpp
Due: rp2040_examples

Updated edu mkII file for RP2040.
  include/board/rp2040-launchpad/boostxl_eduMKII.h
Due: msp432_examples, rp2040_examples, pages

Removed src/boards support. All board file will be under include/board.
  src/CMakeLists.txt
Due: msp432_examples, rp2040_examples, pages

Fixed another RP2040 example.
  examples/rp2040-launchpad/boostxl_k350qvg/boostxl_k350qvg.cpp.bak
Due: rp2040_examples

Forgotten file... :\
  include/CMakeLists.txt
Due: msp432_examples, rp2040_examples, pages

Fix elf2uf2 to work with RP2040 RAM images.
  tools/elf2uf2/boot_blocks/item_image_def.cpp
  tools/elf2uf2/boot_blocks/item_image_def.h
  tools/elf2uf2/boot_blocks/item_version.cpp
  tools/elf2uf2/boot_blocks/item_version.h
  tools/elf2uf2/elf2uf2.cpp
  tools/elf2uf2/uf2/uf2_ofstream.cpp
  tools/elf2uf2/uf2/uf2_structs.h
Due: msp432_examples, rp2040_examples

Fixes for no_flash builds on RP2040
  cmake/YAHAL_init.cmake
  cmake/boards/rp2040-launchpad.cmake
  cmake/boards/rp2040-launchpad_no_flash.ld
  src/MCU/rp2040/startup_rp2040.cpp
  src/MCU/rp2040/system_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Updated multitasking_simple example for RP2040.
  examples/rp2040-launchpad/multitasking_simple/CMakeLists.txt
  examples/rp2040-launchpad/multitasking_simple/multitasking_simple.cpp
Due: rp2040_examples

Fixed comment.
  src/MCU/rp2040/startup_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Small change in startup for RP2040 to prevent warnings...
  src/MCU/rp2040/startup_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Cleanup of linker scripts, boot blocks, ...
  LICENSE
  cmake/boards/rp2040-launchpad.cmake
  cmake/boards/rp2040-launchpad_load_into_ram.ld
  cmake/boards/rp2350-launchpad.cmake
  cmake/boards/rp2350-launchpad.ld
  cmake/boards/rp2350-launchpad_load_into_ram.ld
  examples/rp2040-launchpad/boostxl_edumkII/uGUI_bitmap/uGUI_bitmap.cpp
  src/MCU/rp2040/boot/boot_blocks.h
  src/MCU/rp2040/startup_rp2040.cpp
  src/MCU/rp2350/boot/boot_blocks.h
  src/MCU/rp2350/boot/bs2_default.S
  src/MCU/rp2350/startup_rp2350.cpp
  src/MCU/rp2350/system_rp2350.cpp
Due: msp432_examples, rp2040_examples, pages

Cleanup of rp2350 startup code.
  src/MCU/rp2350/startup_rp2350.cpp
  src/MCU/rp2350/system_rp2350.cpp
Due: msp432_examples, rp2040_examples, pages

Added load into psram for rp2350. Removed index parameter in spi driver. Fixed task_monitor to show correct ram usage values in flash/ram/psram builds.
  cmake/boards/rp2350-launchpad.cmake
  cmake/boards/rp2350-launchpad_load_into_psram.ld
  src/MCU/rp2350/spi_rp2350.cpp
  src/MCU/rp2350/spi_rp2350.h
  src/task/task_monitor.h
Due: msp432_examples, rp2040_examples, pages

Forgot one file :\
  cmake/YAHAL_init.cmake
Due: msp432_examples, rp2040_examples

Updates to RP2040/RP2350 linker scripts. Reset handling changed to support LOAD_INTO_RAM and COPY_TO_RAM image.
  cmake/YAHAL_init.cmake
  cmake/boards/msp432-launchpad.ld
  cmake/boards/rp2040-launchpad.cmake
  cmake/boards/rp2040-launchpad.ld
  cmake/boards/rp2040-launchpad_copy_to_ram.ld
  cmake/boards/rp2040-launchpad_load_into_ram.ld
  cmake/boards/rp2350-launchpad.cmake
  cmake/boards/rp2350-launchpad.ld
  cmake/boards/rp2350-launchpad_copy_to_psram.ld
  cmake/boards/rp2350-launchpad_copy_to_ram.ld
  cmake/boards/rp2350-launchpad_load_into_ram.ld
  cmake/boards/rpi-pico.cmake
  cmake/boards/rpi-pico.ld
  cmake/boards/rpi-pico2.cmake
  cmake/boards/rpi-pico2.ld
  config/board/rp2350-launchpad/rp2350-launchpad.cfg
  include/board/rp2350-launchpad/board_v10.h
  include/board/rp2350-launchpad/boostxl_eduMKII_v10.h
  src/MCU/rp2040/CMakeLists.txt
  src/MCU/rp2040/reset_rp2040.S
  src/MCU/rp2040/startup_rp2040.cpp
  src/MCU/rp2350/CMakeLists.txt
  src/MCU/rp2350/boot/boot_blocks.h
  src/MCU/rp2350/reset_rp2350.S
  src/MCU/rp2350/startup_rp2350.cpp
  src/MCU/rp2350/system_rp2350.cpp
Due: msp432_examples, rp2040_examples, pages

Erased some blanks ...
  cmake/YAHAL_init.cmake
Due: msp432_examples, rp2040_examples

Fixed a ugly bug with SP not set in reset code. 1 day debugging ... :\
  cmake/YAHAL_init.cmake
  cmake/boards/rp2040-launchpad.cmake
  src/MCU/rp2040/reset_rp2040.S
  src/MCU/rp2350/reset_rp2350.S
Due: msp432_examples, rp2040_examples, pages

CMSIS update.
  include/CPU/CMSIS/cachel1_armv7.h
  include/CPU/CMSIS/cmsis_armcc.h
  include/CPU/CMSIS/cmsis_armclang_ltm.h
  include/CPU/CMSIS/cmsis_compiler.h
  include/CPU/CMSIS/cmsis_gcc.h
  include/CPU/CMSIS/cmsis_iccarm.h
  include/CPU/CMSIS/cmsis_tiarmclang.h
  include/CPU/CMSIS/core_armv81mml.h
  include/CPU/CMSIS/core_armv8mbl.h
  include/CPU/CMSIS/core_armv8mml.h
  include/CPU/CMSIS/core_cm0.h
  include/CPU/CMSIS/core_cm0plus.h
  include/CPU/CMSIS/core_cm1.h
  include/CPU/CMSIS/core_cm23.h
  include/CPU/CMSIS/core_cm3.h
  include/CPU/CMSIS/core_cm33.h
  include/CPU/CMSIS/core_cm35p.h
  include/CPU/CMSIS/core_cm4.h
  include/CPU/CMSIS/core_cm55.h
  include/CPU/CMSIS/core_cm7.h
  include/CPU/CMSIS/core_cm85.h
  include/CPU/CMSIS/core_sc000.h
  include/CPU/CMSIS/core_sc300.h
  include/CPU/CMSIS/core_starmc1.h
  include/CPU/CMSIS/mpu_armv8.h
Due: msp432_examples, rp2040_examples, pages

Small fix in CMSISDSP: Is build float kernels now okay? (was before...)
  lib/CMSISDSP/Source/CMakeLists.txt
Due: msp432_examples, rp2040_examples, pages

Small fix to rename CMSIS DSP lib.
  lib/CMSISDSP/Source/CMakeLists.txt
Due: msp432_examples, rp2040_examples, pages

Last fixes to CMSIS DSP.
  lib/CMSISDSP/LICENSE.txt
  lib/CMSISDSP/README.md
  lib/CMSISDSP/Source/CMakeLists.txt
Due: msp432_examples, rp2040_examples, pages

Updated elf2uf2 tool: Added load_map item.
  tools/elf2uf2/boot_blocks/CMakeLists.txt
  tools/elf2uf2/boot_blocks/block.cpp
  tools/elf2uf2/boot_blocks/item_base.cpp
  tools/elf2uf2/boot_blocks/item_base.h
  tools/elf2uf2/boot_blocks/item_image_def.cpp
  tools/elf2uf2/boot_blocks/item_image_def.h
  tools/elf2uf2/boot_blocks/item_load_map.cpp
  tools/elf2uf2/boot_blocks/item_load_map.h
  tools/elf2uf2/boot_blocks/item_version.cpp
  tools/elf2uf2/boot_blocks/item_version.h
  tools/elf2uf2/elf2uf2.cpp
Due: msp432_examples, rp2040_examples

Updated header files for rp2350 board definitions.
  include/board/rp2350-launchpad/v1.0/board.h
  include/board/rp2350-launchpad/v1.0/boostxl_eduMKII.h
  include/board/rp2350-launchpad/v1.0/wifiTick.h
  include/board/rp2350-launchpad/v1.1/board.h
  include/board/rp2350-launchpad/v1.1/boostxl_eduMKII.h
  include/board/rp2350-launchpad/v1.1/wifiTick.h
  include/board/rp2350-launchpad/wifiTick.h
Due: msp432_examples, rp2040_examples, pages

Split UART interface in two parts, so that USB ACM devices can serve as a pure UART data implementation (UART control handeled by the PC host).
  include/interface/pcm_audio_interface.h
  include/interface/uart_ctrl_interface.h
  include/interface/uart_data_interface.h
  include/interface/uart_interface.h
Due: msp432_examples, rp2040_examples, pages

Updates to RP2350 device drivers. I2C, SPI and UART do not need an index parameter when an interface is created. The index is now automatically calculated.
  src/MCU/rp2350/adc_rp2350.h
  src/MCU/rp2350/dac8311_rp2350_drv.h
  src/MCU/rp2350/i2c_rp2350.cpp
  src/MCU/rp2350/i2c_rp2350.h
  src/MCU/rp2350/pio_rp2350.cpp
  src/MCU/rp2350/pio_rp2350.h
  src/MCU/rp2350/uart_rp2350.cpp
  src/MCU/rp2350/uart_rp2350.h
Due: msp432_examples, rp2040_examples, pages

Small cleanup of board include files.
  include/board/rp2350-launchpad/v1.0/board.h
  include/board/rp2350-launchpad/v1.0/boostxl_eduMKII.h
Due: msp432_examples, rp2040_examples, pages

Cleanup no 1 for RP2350 examples.
  examples/rp2350-launchpad/blink_task_sleep/CMakeLists.txt
  examples/rp2350-launchpad/blink_timer/CMakeLists.txt
  examples/rp2350-launchpad/blink_timer/blink_timer.cpp
  examples/rp2350-launchpad/boostxl_edumkII/mic_fft/.gitignore
  examples/rp2350-launchpad/boostxl_edumkII/mic_fft/CMakeLists.txt
  examples/rp2350-launchpad/boostxl_edumkII/mic_fft/YAHAL_import.cmake
  examples/rp2350-launchpad/boostxl_edumkII/mic_fft/mic_fft.cpp
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/.gitignore
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/CMakeLists.txt
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/YAHAL_import.cmake
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/gen/.gitignore
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/png/angry-bird.png
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/uGUI_bitmap.cpp
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_simple/.gitignore
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_simple/CMakeLists.txt
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_simple/YAHAL_import.cmake
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_simple/uGUI_simple.cpp
Due: none

New MP3 song example for RP2350 and Edu MKII Booster pack.
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/.gitignore
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/CMakeLists.txt
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/YAHAL_import.cmake
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/gen/.gitignore
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3/song.mp3
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3_decoder_task.cpp
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3_decoder_task.h
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3_song.cpp
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_bitmap/uGUI_bitmap.cpp
  examples/rp2350-launchpad/boostxl_edumkII/uGUI_simple/uGUI_simple.cpp
Due: none

Fixes to RP2350 HAL drivers.
  src/MCU/rp2350/pcm_pwm_rp2350_drv.cpp
  src/MCU/rp2350/pcm_pwm_rp2350_drv.h
  src/MCU/rp2350/uart_rp2350.cpp
Due: msp432_examples, rp2040_examples, pages

Try to fix windows error when compiling elf2uf2
  tools/elf2uf2/boot_blocks/item_image_def.h
Due: msp432_examples, rp2040_examples

Smaller typos and fixes...
  examples/rp2350-launchpad/boostxl_edumkII/mic_fft/mic_fft.cpp
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3_decoder_task.cpp
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3_decoder_task.h
  examples/rp2350-launchpad/boostxl_edumkII/mp3_song/mp3_song.cpp
  lib/MAD/madconfig.h
  src/task/task.cpp
Due: msp432_examples, rp2040_examples, pages

ARM update and enable rp2350 pipeline
  .gitlab-ci.yml
Due: msp432_examples, rp2040_examples, pages

First version of new floppy adapter example.
  examples/msp432-launchpad/multitasking_simple/CMakeLists.txt
  examples/rp2350-launchpad/floppy_adapter/.gitignore
  examples/rp2350-launchpad/floppy_adapter/CMakeLists.txt
  examples/rp2350-launchpad/floppy_adapter/MFM_errors.h
  examples/rp2350-launchpad/floppy_adapter/MFM_reader.cpp
  examples/rp2350-launchpad/floppy_adapter/MFM_reader.h
  examples/rp2350-launchpad/floppy_adapter/MFM_reader_states.cpp
  examples/rp2350-launchpad/floppy_adapter/MFM_reader_states.h
  examples/rp2350-launchpad/floppy_adapter/YAHAL_import.cmake
  examples/rp2350-launchpad/floppy_adapter/floppy_adapter.cpp
  examples/rp2350-launchpad/floppy_adapter/pio/mfm.pio
  include/MCU/rp2040/RP2040_regs.svd
  include/MCU/rp2350/bitfield_defs.h
  tools/svd2cpp/main.cpp
  tools/svd2cpp/svd2cpp.cpp
  tools/svd2cpp/svd2cpp.h
Due: msp432_examples, rp2040_examples, pages

Floppy demo working with format auto-detection.
  examples/rp2350-launchpad/floppy_adapter/CMakeLists.txt
  examples/rp2350-launchpad/floppy_adapter/MFM_errors.h
  examples/rp2350-launchpad/floppy_adapter/MFM_reader.cpp
  examples/rp2350-launchpad/floppy_adapter/MFM_reader.h
  examples/rp2350-launchpad/floppy_adapter/MFM_reader_states.cpp
  examples/rp2350-launchpad/floppy_adapter/MFM_reader_states.h
  examples/rp2350-launchpad/floppy_adapter/floppy_adapter.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_defines.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_defines.h
  examples/rp2350-launchpad/floppy_adapter/floppy_drv.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_drv.h
  examples/rp2350-launchpad/floppy_adapter/floppy_error_codes.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_error_codes.h
  examples/rp2350-launchpad/floppy_adapter/floppy_logger.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_logger.h
  examples/rp2350-launchpad/floppy_adapter/floppy_mfm_reader.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_mfm_reader.h
  examples/rp2350-launchpad/floppy_adapter/floppy_mfm_reader_states.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_mfm_reader_states.h
  examples/rp2350-launchpad/floppy_adapter/floppy_statistics.cpp
  examples/rp2350-launchpad/floppy_adapter/floppy_statistics.h
Due: none

add ili9488_drv
  src/drivers/CMakeLists.txt
  src/drivers/ili9488_drv.cpp
  src/drivers/ili9488_drv.h
Due: msp432_examples, rp2040_examples, pages
