Repository cuu/YAHAL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: msp432_examples, rp2040_examples, pages

.gitlab-ci.yml:

image: registry.git.fh-aachen.de/docker-images/gcc-arm-none-eabi-image

stages:
  - examples
  - pages

.common:
  stage: examples
  before_script:
    - cd examples/$EXAMLE_FOLDER
    - mkdir build && cd build
  script:
    - cmake ..
    - make -j 4
  tags:
    - shared

msp432_examples:
  extends: .common
  variables:
    EXAMLE_FOLDER: "msp432-launchpad"
  only:
    changes:
      - .gitlab-ci.yml
      - cmake/**/*
      - include/**/*
      - lib/**/*
      - src/**/*
      - tools/**/*
      - examples/msp432-launchpad/**/*

rp2040_examples:
  extends: .common
  variables:
    EXAMLE_FOLDER: "rp2040-launchpad"
  only:
    changes:
      - .gitlab-ci.yml
      - cmake/**/*
      - include/**/*
      - lib/**/*
      - src/**/*
      - tools/**/*
      - examples/rp2040-launchpad/**/*

pages:
  image: alpine:3.19.1
  stage: examples
  needs: []
  script:
    - apk --no-cache add doxygen graphviz ttf-freefont
    - cd doc && doxygen Doxyfile
    - mv doc/documentation/html/ public/
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - README.md
      - doc/**/*
      - include/**/*
      - lib/**/*
      - src/**/*
  tags:
    - shared

More RP2350 stuff.
  include/CPU/cortex-m33fd/cachel1_armv7.h
  include/CPU/cortex-m33fd/cmsis_armcc.h
  include/CPU/cortex-m33fd/cmsis_armclang.h
  include/CPU/cortex-m33fd/cmsis_armclang_ltm.h
  include/CPU/cortex-m33fd/cmsis_compiler.h
  include/CPU/cortex-m33fd/cmsis_gcc.h
  include/CPU/cortex-m33fd/cmsis_iccarm.h
  include/CPU/cortex-m33fd/cmsis_version.h
  include/CPU/cortex-m33fd/core_armv81mml.h
  include/CPU/cortex-m33fd/core_armv8mbl.h
  include/CPU/cortex-m33fd/core_armv8mml.h
  include/CPU/cortex-m33fd/core_cm33.h
  include/CPU/cortex-m33fd/mpu_armv8.h
  include/CPU/cortex-m33fd/pac_armv81.h
  include/CPU/cortex-m33fd/pmu_armv8.h
  include/CPU/cortex-m33fd/tz_context.h
  include/MCU/rp2350/RP2350.h
Due: msp432_examples, rp2040_examples, pages

Fixed name in RP2350 linker script.
  cmake/boards/rp2350-launchpad.ld
Due: msp432_examples, rp2040_examples

Small fix in yahal_String and svd2cpp tool.
  src/util/yahal_String.h
  tools/svd2cpp/main.cpp
  tools/svd2cpp/svd2cpp.cpp
  tools/svd2cpp/svd2cpp.h
Due: msp432_examples, rp2040_examples, pages

Small fix to RP2350 cmake files.
  cmake/CPU/cortex-m33fd.cmake
Due: msp432_examples, rp2040_examples

More small changes...
  cmake/CPU/cortex-m33fd.cmake
  cmake/CPU/cortex-m4f.cmake
  cmake/boards/rp2350-launchpad.cmake
Due: msp432_examples, rp2040_examples

add gitignore
  .gitignore
Due: none

try to add ili9488 lcd driver
  src/drivers/CMakeLists.txt
  src/drivers/ili9488.cpp
  src/drivers/ili9488.h
Due: msp432_examples, rp2040_examples, pages

code clean for ili9488_drv
  src/drivers/CMakeLists.txt
  src/drivers/ili9488_drv.cpp
  src/drivers/ili9488_drv.h
Due: msp432_examples, rp2040_examples, pages

ili9488_drv use rgb565
  src/drivers/ili9488_drv.cpp
Due: msp432_examples, rp2040_examples, pages

bug fix
  src/drivers/ili9488_drv.cpp
  src/drivers/ili9488_drv.h
Due: msp432_examples, rp2040_examples, pages

Enable LFN in lib/FatFs
  lib/FatFs/ff.cpp
  lib/FatFs/ff.h
  lib/FatFs/ffconf.h
Due: msp432_examples, rp2040_examples, pages

copy some code from FatFs 0.15
  lib/FatFs/ff.cpp
Due: msp432_examples, rp2040_examples, pages

sd_init fix
  src/drivers/sd_spi_drv.cpp
Due: msp432_examples, rp2040_examples, pages

First version of RP2350 register definition.
  include/MCU/rp2350/RP2350_regs.h
  include/MCU/rp2350/RP2350_regs.svd
  include/MCU/rp2350/bitfield_defs.h
Due: msp432_examples, rp2040_examples, pages

Small fix in comment of svd file.
  include/MCU/rp2350/RP2350_regs.h
Due: msp432_examples, rp2040_examples, pages

Fixed a "missing blank bug" in RP2350_regs.h
  include/MCU/rp2350/RP2350_regs.h
Due: msp432_examples, rp2040_examples, pages

Fixed register size checking and blank insertion after long type names.
  tools/svd2cpp/svd2cpp.cpp
Due: msp432_examples, rp2040_examples

update
  lib/FatFs/ffconf.h
Due: msp432_examples, rp2040_examples, pages

New GPIO interface: RP2040 examples ported.
  examples/rp2040-launchpad/WifiTick-Programmer/WifiTick-Programmer.cpp
  examples/rp2040-launchpad/blink_pwm/blink_pwm.cpp
  examples/rp2040-launchpad/blink_simple/blink_simple.cpp
  examples/rp2040-launchpad/blink_timer/CMakeLists.txt
  examples/rp2040-launchpad/boostxl_audio/mp3_player/main_task.h
  examples/rp2040-launchpad/boostxl_audio/mp3_player/mp3_decoder_task.h
  examples/rp2040-launchpad/boostxl_edumkII/hardware_test/HW.h
  examples/rp2040-launchpad/boostxl_edumkII/mic_fft/mic_fft.cpp
  examples/rp2040-launchpad/boostxl_edumkII/mp3_player/main_task.h
  examples/rp2040-launchpad/boostxl_edumkII/mp3_player/mp3_decoder_task.h
  examples/rp2040-launchpad/boostxl_edumkII/uGUI_simple/uGUI_simple.cpp
  examples/rp2040-launchpad/boostxl_k350qvg/boostxl_k350qvg.cpp
  examples/rp2040-launchpad/boostxl_lp_tester/lp_tester.cpp
  examples/rp2040-launchpad/gpio_interrupt/gpio_interrupt.cpp
  examples/rp2040-launchpad/gpio_simple/gpio_simple.cpp
  examples/rp2040-launchpad/retro_PDP8_Focal/src/main.cpp
  examples/rp2040-launchpad/sd_card/main.cpp
  examples/rp2040-launchpad/soft_i2c_master_client/i2c_device.cpp
  examples/rp2040-launchpad/soft_i2c_master_client/i2c_device.h
  examples/rp2040-launchpad/soft_i2c_master_client/soft_i2c_master_client.cpp
  examples/rp2040-launchpad/stepper_motor/stepper_motor.cpp
  examples/rp2040-launchpad/usb_dev_lowlevel/main.cpp
  examples/rp2040-launchpad/usb_msc_sd_card/usb_msc_sd_card.cpp
  src/MCU/rp2040/dac8311_rp2040_drv.cpp
  src/MCU/rp2040/dac8311_rp2040_drv.h
  src/MCU/rp2040/gpio_rp2040.cpp
  src/MCU/rp2040/gpio_rp2040.h
  src/MCU/rp2040/i2c_rp2040.h
  src/MCU/rp2040/pcm_pwm_rp2040_drv.cpp
  src/MCU/rp2040/spi_rp2040.cpp
  src/MCU/rp2040/spi_rp2040.h
  src/MCU/rp2040/uart_rp2040.cpp
  src/MCU/rp2040/ws2812_rp2040.h
  src/boards/rp2040-launchpad/boostxl_eduMKII.cpp
Due: msp432_examples, rp2040_examples, pages

Forgot 2 files... (see last commit)
  examples/rp2040-launchpad/wifiTick/spi_rp2040/spi_rp2040.cpp
  examples/rp2040-launchpad/wifiTick/uart_rp2040/uart_rp2040.cpp
Due: rp2040_examples

One more bug in CMakeLists-file...
  examples/rp2040-launchpad/blink_timer/CMakeLists.txt
Due: rp2040_examples

Updated MSP432 WifiTick examples!
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/WifiTick.h
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/audio_output.h
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/main_task.h
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/mp3_decoder_task.cpp
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/mp3_decoder_task.h
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/stream_reader_task.cpp
  examples/msp432+wifiTick/boostxl_audio_web_radio_msp432/stream_reader_task.h
  examples/msp432+wifiTick/spi_msp432/spi_msp432.cpp
  examples/msp432+wifiTick/uart_msp432/uart_msp432.cpp
Due: none

Updates MSP432 WifiTick-Programmer
  examples/msp432+wifiTick/WifiTick-Programmer/WifiTick-Programmer.cpp
Due: none

Updated version of RP2350 and RP2040 register files.
  include/MCU/rp2040/RP2040_regs.h
  include/MCU/rp2350/RP2350.h
  include/MCU/rp2350/RP2350_regs.h
Due: msp432_examples, rp2040_examples, pages

Fixed broken RP2040 register definition file.
  include/MCU/rp2040/RP2040_regs.h
Due: msp432_examples, rp2040_examples, pages

Fixed generation of _XOR _SET and _CLR registers in RP2350 register definition file.
  tools/svd2cpp/svd2cpp.cpp
Due: msp432_examples, rp2040_examples

Added const to read-functions in GPIO interface. Changed implementations accordingly.
  include/interface/gpio_interface.h
  src/MCU/msp432p401r/gpio_msp432.cpp
  src/MCU/msp432p401r/gpio_msp432.h
  src/MCU/rp2040/gpio_rp2040.cpp
  src/MCU/rp2040/gpio_rp2040.h
Due: msp432_examples, rp2040_examples, pages

First RP2350 drivers ready.
  src/MCU/rp2350/CMakeLists.txt
  src/MCU/rp2350/gpio_rp2350.cpp
  src/MCU/rp2350/gpio_rp2350.h
  src/MCU/rp2350/timer_rp2350.cpp
  src/MCU/rp2350/timer_rp2350.h
  src/MCU/rp2350/uart_rp2350.cpp
  src/MCU/rp2350/uart_rp2350.h
Due: msp432_examples, rp2040_examples, pages

More RP2350 stuff.
  src/MCU/rp2350/boot_blocks_rp2350.h
  src/MCU/rp2350/startup_rp2350.cpp
  src/MCU/rp2350/system_rp2350.cpp
  src/MCU/rp2350/system_rp2350.h
Due: msp432_examples, rp2040_examples, pages

More RP2350 drivers (lock base impl).
  examples/rp2350-launchpad/uart_simple/.gitignore
  examples/rp2350-launchpad/uart_simple/CMakeLists.txt
  examples/rp2350-launchpad/uart_simple/YAHAL_import.cmake
  examples/rp2350-launchpad/uart_simple/uart_simple.cpp
  src/MCU/rp2350/lock_base_rp2350.cpp
  src/MCU/rp2350/lock_base_rp2350.h
Due: msp432_examples, rp2040_examples, pages

Timer implementation for RP2350.
  src/MCU/rp2350/timer_rp2350.cpp
  src/MCU/rp2350/timer_rp2350.h
Due: msp432_examples, rp2040_examples, pages

Updates to startup code and timer class.
  src/MCU/rp2350/system_rp2350.cpp
  src/MCU/rp2350/system_rp2350.h
  src/MCU/rp2350/timer_rp2350.cpp
  src/MCU/rp2350/timer_rp2350.h
Due: msp432_examples, rp2040_examples, pages

Updates to RP2350 register file. IRQ stuff in SVD file was buggy.
  include/MCU/rp2350/RP2350.h
  include/MCU/rp2350/RP2350_regs.h
  include/MCU/rp2350/RP2350_regs.svd
Due: msp432_examples, rp2040_examples, pages

Task implementation for RP2350 finished. Yet another bug fix in the RP2350 svd file (ICSR was partly RO).
  include/MCU/rp2350/RP2350_regs.h
  include/MCU/rp2350/RP2350_regs.svd
  src/MCU/rp2350/startup_rp2350.cpp
  src/MCU/rp2350/system_rp2350.cpp
  src/MCU/rp2350/system_rp2350.h
  src/MCU/rp2350/task_rp2350.cpp
Due: msp432_examples, rp2040_examples, pages

Smaller updates to task code.
  src/task/condition_variable.h
  src/task/mutex.h
  src/task/task.cpp
  src/task/task.h
  src/task/task_idle.h
  src/task/task_monitor.h
  src/task/task_timer.h
Due: msp432_examples, rp2040_examples, pages

cmake update for RP2350
  cmake/boards/rpi-pico2.cmake
  cmake/boards/rpi-pico2.ld
Due: msp432_examples, rp2040_examples

pioasm update to latest version in pico-sdk
  tools/pioasm/CMakeLists.txt
  tools/pioasm/ada_output.cpp
  tools/pioasm/c_sdk_output.cpp
  tools/pioasm/gen/lexer.cpp
  tools/pioasm/gen/location.h
  tools/pioasm/gen/parser.cpp
  tools/pioasm/gen/parser.hpp
  tools/pioasm/go_output.cpp
  tools/pioasm/json_output.cpp
  tools/pioasm/lexer.ll
  tools/pioasm/main.cpp
  tools/pioasm/output_format.h
  tools/pioasm/parser.yy
  tools/pioasm/pio_assembler.cpp
  tools/pioasm/pio_assembler.h
  tools/pioasm/pio_disassembler.cpp
  tools/pioasm/pio_disassembler.h
  tools/pioasm/pio_enums.h
  tools/pioasm/pio_types.h
  tools/pioasm/python_output.cpp
Due: msp432_examples, rp2040_examples

Fixed pioasm to include YAHAL-code generation again...
  tools/pioasm/CMakeLists.txt
Due: msp432_examples, rp2040_examples
