Repository cuu/YAHAL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: msp432_examples, rp2040_examples, pages

msp432_examples:
  stage: examples
  before_script:
  - cd examples/$EXAMLE_FOLDER
  - mkdir build && cd build
  script:
  - cmake ..
  - make -j 4
  tags:
  - shared
  variables:
    EXAMLE_FOLDER: msp432-launchpad

rp2040_examples:
  stage: examples
  before_script:
  - cd examples/$EXAMLE_FOLDER
  - mkdir build && cd build
  script:
  - cmake ..
  - make -j 4
  tags:
  - shared
  variables:
    EXAMLE_FOLDER: rp2040-launchpad

pages:
  image: alpine:3.19.1
  stage: examples
  needs: []
  script:
  - apk --no-cache add doxygen graphviz ttf-freefont
  - cd doc && doxygen Doxyfile
  - mv doc/documentation/html/ public/
  artifacts:
    paths:
    - public
  tags:
  - shared

Fix headline alignment in GitLab
  README.md
Due: pages

Include new YAHAL logo
  README.md
  doc/assets/YAHAL_logo.png
  doc/assets/YAHAL_logo_transparent.png
Due: pages

Fix logo on Doxygen
  README.md
  doc/Doxyfile
Due: pages

Include images in getting started guide
  README.md
  doc/assets/getting-started_img1.png
  doc/assets/getting-started_img2.png
  doc/assets/getting-started_img3.png
  doc/assets/getting-started_img4.png
  doc/assets/getting-started_img5.png
  doc/assets/getting-started_img6.png
  doc/assets/getting-started_img7.png
Due: pages

Rework of the readme page
  README.md
Due: pages

Don't run CI on lib folder change
  .gitlab-ci.yml
Due: msp432_examples, rp2040_examples, pages

correctly center on GitLab
  README.md
Due: pages

Make centered text in step 8 bold in GitLab representation
  README.md
Due: pages

Fixed dim name generation in svd2cpp. Updated RP2040.svd file ([%s] -> %s).
  config/MCU/rp2040/RP2040_regs.svd
  tools/svd2cpp/svd2cpp.cpp
Due: msp432_examples, rp2040_examples

svd2cpp: Added dimIndex ranges (e.g. 0-15, A-F)
  tools/svd2cpp/svd2cpp.cpp
Due: msp432_examples, rp2040_examples

Update ARM Compiler for CI pipeline to 13.2.0
  .gitlab-ci.yml
Due: msp432_examples, rp2040_examples, pages

svd2cpp update. Also updated RP2040 svd and h files.
  config/MCU/rp2040/RP2040_regs.svd
  include/MCU/rp2040/RP2040_regs.h
  tools/svd2cpp/CMakeLists.txt
  tools/svd2cpp/main.cpp
  tools/svd2cpp/registerInfo.h
  tools/svd2cpp/svd2cpp.cpp
  tools/svd2cpp/svd2cpp.h
Due: msp432_examples, rp2040_examples, pages

Removed obsolete CFLAGS file.
  lib/MAD/CFLAGS
Due: msp432_examples, rp2040_examples, pages

Updated svd2cpp tool.
  include/MCU/rp2040/RP2040_regs.h
  include/MCU/rp2040/RP2040_regs.svd
  tools/svd2cpp/main.cpp
  tools/svd2cpp/registerInfo.h
  tools/svd2cpp/svd2cpp.cpp
  tools/svd2cpp/svd2cpp.h
Due: msp432_examples, rp2040_examples, pages

Fixed a small bug in the RP2040.svd file. Validation against the CMSIS-SVD-xds failed...
  config/MCU/rp2040/RP2040_regs.svd
  include/MCU/rp2040/RP2040_regs.svd
Due: msp432_examples, rp2040_examples, pages

Fixed problem in RP2040 ADC driver: pull-resistors were not disabled. This was probably also the reason for problems with the resistive touch display.
  src/MCU/rp2040/adc_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

UDEV File
  config/udev/99-pico-launchpad.rules
Due: none

Add command to refresh udev rules as comment
  config/udev/99-pico-launchpad.rules
Due: none

Umdated comment in blink_simple
  examples/rp2040-launchpad/blink_simple/blink_simple.cpp
Due: rp2040_examples

Updated timeout in blink_simple
  examples/rp2040-launchpad/blink_simple/blink_simple.cpp
Due: rp2040_examples

Removed getCounter() Method from timer interface.
  include/interface/timer_interface.h
  src/MCU/msp432p401r/timerA_msp432.cpp
  src/MCU/msp432p401r/timerA_msp432.h
  src/MCU/msp432p401r/timer_msp432.cpp
  src/MCU/msp432p401r/timer_msp432.h
  src/MCU/rp2040/pcm_pwm_rp2040_drv.h
  src/MCU/rp2040/timer_rp2040.cpp
  src/MCU/rp2040/timer_rp2040.h
  src/task/task_timer.h
Due: msp432_examples, rp2040_examples, pages

Fixed issues with MP3 playback and timers/millis. Simplified RP2040 millis method and included wrapper libraries as standard setting.
  cmake/YAHAL_init.cmake
  include/MCU/rp2040/system_rp2040.h
  src/MCU/rp2040/system_rp2040.cpp
  src/MCU/rp2040/task_rp2040.cpp
  src/task/task.cpp
Due: msp432_examples, rp2040_examples, pages

Moved system.h files to the folder with the corresponding source file.
  src/MCU/msp432p401r/system_msp432p401r.cpp
  src/MCU/msp432p401r/system_msp432p401r.h
  src/MCU/rp2040/system_rp2040.h
Due: msp432_examples, rp2040_examples, pages

Forgot a file ... :(
  src/MCU/msp432p401r/CMakeLists.txt
Due: msp432_examples, rp2040_examples, pages

Further small fixes to RP2040 task and timer.
  src/MCU/rp2040/task_rp2040.cpp
  src/MCU/rp2040/timer_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Fixed issues with GPIO18 in ADC and WS2812 classes for RP2040.
  src/MCU/rp2040/adc_rp2040.cpp
  src/MCU/rp2040/adc_rp2040.h
  src/MCU/rp2040/ws2812_rp2040.cpp
  src/MCU/rp2040/ws2812_rp2040.h
Due: msp432_examples, rp2040_examples, pages

More fixes for ADC and WS2812 drivers so that hardware-test and mic-fft are running again!
  src/MCU/rp2040/adc_rp2040.cpp
  src/MCU/rp2040/ws2812_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Adapted SVCall priority (formerly highest), which caused timer-wrap-arounds due to long scheduler.
  src/MCU/rp2040/task_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Added INPUT_INVERT mode for RP2040 GPIOs (due to user request)
  src/MCU/rp2040/gpio_rp2040.cpp
  src/MCU/rp2040/gpio_rp2040.h
Due: msp432_examples, rp2040_examples, pages

Updated gpio_simple example to use INPUT_INVERT
  examples/rp2040-launchpad/gpio_simple/gpio_simple.cpp
Due: rp2040_examples

Fixed small comment bug.
  examples/rp2040-launchpad/gpio_simple/gpio_simple.cpp
Due: rp2040_examples

Use ARM compiler 14.1.0 in pipeline
  .gitlab-ci.yml
Due: msp432_examples, rp2040_examples, pages

Updated RP2040 multitasking simple (blue LED color, comment fixes)
  examples/rp2040-launchpad/multitasking_simple/OS.cpp
  examples/rp2040-launchpad/multitasking_simple/multitasking_simple.cpp
Due: rp2040_examples

Erste Version für MPU-6050 Beispiel.
  examples/rp2040-launchpad/MPU-6050_example/.gitignore
  examples/rp2040-launchpad/MPU-6050_example/CMakeLists.txt
  examples/rp2040-launchpad/MPU-6050_example/YAHAL_import.cmake
  examples/rp2040-launchpad/MPU-6050_example/mpu6050.cpp
  examples/rp2040-launchpad/MPU-6050_example/mpu6050.h
  examples/rp2040-launchpad/MPU-6050_example/mpu6050_example.cpp
Due: rp2040_examples

Updated song in MP3 song example for RP2040.
  examples/rp2040-launchpad/boostxl_audio/mp3_song/mp3/song.mp3
Due: rp2040_examples

Added some int16_t casts to get better (correct) values
  examples/rp2040-launchpad/MPU-6050_example/mpu6050.cpp
  examples/rp2040-launchpad/MPU-6050_example/mpu6050.h
  examples/rp2040-launchpad/MPU-6050_example/mpu6050_example.cpp
Due: rp2040_examples

Fixed commented out setSpeed() in I2C driver.
  src/MCU/rp2040/i2c_rp2040.cpp
Due: msp432_examples, rp2040_examples, pages

Smaller fixes to generate nrf52840.h successfully.
  tools/svd2cpp/svd2cpp.cpp
  tools/svd2cpp/svd2cpp.h
Due: msp432_examples, rp2040_examples

First files for new RP2350 MCU, Cortex-M33 CPU and RP2350 Launchpad.
  cmake/CPU/cortex-m33fd.cmake
  cmake/MCU/rp2350.cmake
  cmake/boards/rp2350-launchpad.cmake
  cmake/boards/rp2350-launchpad.ld
Due: msp432_examples, rp2040_examples

Path conditions:
  msp432_examples: any of: .gitlab-ci.yml, cmake/**/*, include/**/*, lib/**/*, src/**/*, tools/**/*, examples/msp432-launchpad/**/*
  rp2040_examples: any of: .gitlab-ci.yml, cmake/**/*, include/**/*, lib/**/*, src/**/*, tools/**/*, examples/rp2040-launchpad/**/*
  pages: any of: .gitlab-ci.yml, README.md, doc/**/*, include/**/*, lib/**/*, src/**/*
